body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #333;
}

a{
    color: black;
    text-decoration: none;
}
a:visited{
    color: red;
}
a:active{
    color: blue;
}
.apple:hover{
    color: green;
    text-decoration: underline;
    font-weight: bold;
}
/*위에 있는 태그들은 기본적으로 웹페이지를 꾸밀때 필수적인 요소들*/


.link1{
    margin: 20px; /*링크 사이 간격 띄어주기 위함*/
    border: 1px solid green;
    box-sizing: border-box;
    padding: 5px 10px;
}
.link1:hover{
    background-color: green;
    color: white;
    text-decoration: none;
    font-weight: normal;
}
a.link2{
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
}
a.link2:hover{
    background-color: white;
    font-weight: normal;
    color: black;
    text-decoration: none;
}

ul{
    list-style-type: square; /*리스트 스타일 타입은 ul,ol혼용해서 사용가능하나 웹표준에 맞게 사용하자!!*/
    list-style-position: inside; /*카운터를 패딩 안에 쓸지 밖에 쓸지*/
    /*list-style: square, inside; -->shorthand*/
}
li{
    border-bottom: 1px dashed black;
    padding-top: 10px;
    height: 50px;
}