
 .category{
     width: 1200px;
     margin: 0 auto;
 }
 .category ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 750px;
    overflow: auto;
    animation-name: anim;
    animation-duration: 4s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
.category li{
    float: left;
    margin-bottom: 10px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    position: relative;
}


li::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    transform: scaleX(0); /*width값으로는 방향을 바꿔줄 수 없으므로 transform 이용함*/
    transform-origin: bottom right;
    background-color: orange;
    transition: transform 0.5s;
}
li:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
} 

li.bol{
    font-weight: bold;
    
}

.container{
    width: 300px;
    height: 300px;
    padding: 20px;
    position: relative;
    border: 1px solid #333;
}

.tr{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    transform: rotate(10deg);
    transform-origin: left bottom;
    animation-name: anim2;
    animation-duration: 4s;
    top: 0;
    left: 0;
    position: absolute;

}


/*animation 제작*/
@keyframes anim{
    from{
        background-color: rgb(248, 85, 85);
    }
    to{
        background-color: rgb(81, 81, 255);
    }
}

@keyframes anim2{
    0%{background: red; left:0px; top:0px}
    25%{background: orange; left:200px; top:0px}
    50%{background: green; left:200px; top:200px}
    75%{background: blue; left:0px; top:200px}
    100%{background: yellow; left:0px; top:0px}
}